* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  z-index: 1000;
  background: #2666cf;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow-on-hover {
  width: 230px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 20px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
}

.header .logo span {
  color: #f5f2e7;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #f5f2e7;
}

.header .navbar a:hover {
  color: #000b49;
}

.header {
  color: #000b49;
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--light-color);
  display: none;
}

.header-about .heading {
  height: 100px;
  background-color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 35px;
  /* padding-right: 100px; */
  padding-bottom: 70px;
}

.contact .row {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row form {
  padding: 2rem;
  flex: 1 1 42rem;
  /* box-shadow:1px; */
  /* border: 2px solid black; */
  text-align: center;
  border-radius: 0.5rem;
  width: 300px;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 27px;
}

.contact .row form h3 {
  font-size: 37px;
  color: #ffc72c;
  padding-bottom: 25px;
}

.contact .row form .box {
  width: 100%;
  border-radius: 0rem;
  padding: 1rem 1.2rem;
  font-size: 20px;
  text-transform: none;
  border: 3px solid #000;
  border-style: solid;
  margin: 0.7rem 0;
  border-top: #000;
  border-left: #000;
  border-right: #000;
}

.contact .row form textarea {
  height: 12rem;
  resize: none;
}

.contact .row form .glow-on-hover {
  font-size: 23px;
}

.map {
  display: flex;
  width: 100%;
  padding-left: 58.9px;
  padding-bottom: 50px;
  gap: 145px;
}

.map .dtla {
  border: 20px solid #f2f2f2;
}

.map .condet {
  height: 500px;
  width: 650px;
  background-color: #333;
  border: 20px solid #f2f2f2;
  text-align: left;
  font-size: 20px;
  color: whitesmoke;
}

.map .condet .vm h4:hover {
  -webkit-transition:1.3s ease-out;
  -moz-transition:1.3s ease-out;
  transition: 1.3s ease-out;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg) ;
}

.map .condet .vm h4 {
  text-align: center;
  padding-left: 45px;
  padding-top: 50px;
  padding-bottom: 9px;
}
.map .condet p {
  text-align: center;
  padding-left: 36px;
  padding-top: 0px;
  /* -webkit-transition: 0.4s ease;
      -moz-transition:  0.4s ease;
      transition:  0.4s ease; */
}

.map .condet .vm {
  text-align: center;
  cursor: pointer;
}

.footer {
  background: #ffe3de;
  /* width:1500px; */
  /* padding-left: 60px; */
  padding-left: 100px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 4.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.55rem;
  padding: 1rem 0;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  font-size: 1.77rem;
  padding: 1.2rem 0;
  color: var(--light-color);
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}

.footer .box-container .box a:hover i {
  padding-right: 1.9rem;
}



@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  .header.active{
      padding:2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: block;
  }

  #menu-btn.fa-times{
      transform:rotate(180deg);
  }

  #login-btn .btn{
      display: none;
  }

  #login-btn i{
      display: block;
  }

  .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background: #2666cf;
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a{
      margin:2rem;
      display: block;
      font-size: 2rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 3rem;
  }

}