* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  z-index: 1000;
  background: #2666cf;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
}

.header .logo span {
  color: #f5f2e7;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #f5f2e7;
}

.header .navbar a:hover {
  color: #000b49;
}

.header {
  color: #000b49;
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--light-color);
  display: none;
}

/* main */
.flex {
  display: flex;
  justify-content: space-between;
}
.wrap {
  font-size: 30px;
  height: 500px;
  width: 50%;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family:'Times New Roman', Times, serif;
}
p {
  padding-left: 30px;
}
.img2 {
  height: 400px;
  width: 40%;
  background-image: url("/Customs Image/wrappingimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 20px 0px 20px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}
.wrap1 {
  font-size: 30px;
  height: 50%px;
  width: 50%;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family:'Times New Roman', Times, serif;
}
.flex1 .wrap1 p{
  padding-right: 30px;
  padding-bottom: 50px;
}
.img3 {
  height: 400px;
  width: 40%;
  background-image: url("/Customs Image/calipers1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.flex2 {
  display: flex;
  justify-content: space-between;
}
.wrap2 {
  font-size: 30px;
  height: 500px;
  width: 50%;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family:'Times New Roman', Times, serif;
}
.img4 {
  height: 400px;
  width: 40%;
  background-image: url("/Customs Image/alloys.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 500px;
  width: 100%;
  color: black;
  font-size: 50px;
  background-color: aqua;
  /* background-image: url("/Customs Image/cars1.jpg");  */
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background-color: whitesmoke;
}

h1 {
  background-color: burlywood;
  color: crimson;
  text-align: center;
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  margin: 30px 0px 30px 0px;
}

h2 {
  
  text-align: right;
  color: darkolivegreen;
  text-transform: capitalize;
  text-shadow: 20vh;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  padding-right: 110px;
  padding-bottom: 10px;
}

h4 {
  text-align: left;
  color: darkolivegreen;
  text-transform: capitalize;
  text-shadow: 20vh;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  padding-left:  100px;
  padding-bottom: 10px;
  /* margin: 10px; */
}

.para {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  height: 400px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  padding-right: 30px;
}
.para h3 {
  font-size: 50px;
  width: 750px;
color:red;
  font-family: "Times New Roman", Times, serif;
  font-style: bold;
  font-weight: 200;
  padding: 10px;
  margin: 10px;
}

/* Footer */

.footer {
  background: #ffe3de;
  /* width:1500px; */
  /* padding-left: 60px; */
  padding-left: 100px;
  padding-bottom: 90px;
  padding-top: 30px;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 4.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.55rem;
  padding: 1rem 0;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  font-size: 1.77rem;
  padding: 1.2rem 0;
  color: var(--light-color);
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}

.footer .box-container .box a:hover i {
  padding-right: 1.9rem;
}




@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  .header.active{
      padding:2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: block;
  }

  #menu-btn.fa-times{
      transform:rotate(180deg);
  }

  #login-btn .btn{
      display: none;
  }

  #login-btn i{
      display: block;
  }

  .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background: #2666cf;
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a{
      margin:2rem;
      display: block;
      font-size: 2rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 3rem;
  }

}