@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --yellow: #f9d806;
  --light-yellow: #ffee80;
  --black: #000;
  --light-color: #000;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
}



* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  /* scrollbar-arrow-color: #002bff; */
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  /* scroll-behavior: smooth; */
 scrollbar-color: #000;
}
body {
  background-color: #eeeeee;
}
section{
  padding:2rem 9%;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#videowrapper {
  position: relative;
  overflow: hidden;
}

#fullScreenDiv {
  min-height: 100%;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  background-color: gray;
  position: relative;
  overflow: hidden;
}

#video {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

  
section {
  padding: 2rem 9%;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 4.5rem;
  color: #000b49;
}

.heading span {
  position: relative;
  z-index: 0;
}

.heading span::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: -1;
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  z-index: 1000;
  background: #2666cf;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
}

.header .logo span {
  color: #f5f2e7;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #f5f2e7;
}

.header .navbar a:hover {
  color: #000b49;
}

.header {
  color: #000b49;
}

#menu-btn {
  font-size: 2.5rem;
  color: #000;
  display: none;
}

/* Brands */

.Brands .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(39rem, 1fr));
  gap: 3.5rem;
}

.Brands .box-container .box {
  padding: 2rem;
  border-radius: 0rem;
  background-color: #f2f2f2;
  /* box-shadow: var(--box-shadow); */
  /* border: var(--border); */
  text-align: center;
  height: 470px;
}
.Brands .box-container .box:hover {
  padding: 2.0rem;
  border-radius: 2.3rem;
  background-color: white;
  /* box-shadow: var(--box-shadow); */
  border: var(--border);
  text-align: center;
  height: 480px;
  font-size: 80px;
  color: #fff;
  text-align: center;

  -webkit-box-shadow: 0 0 10px #808080;
  -moz-box-shadow: 0 0 10px #808080;
  box-shadow: 0 0 10px  #808080;
}


.Brands .box-container .box h3 {
  font-size: 2.2rem;
  color: #000000;
}

.Brands .box-container .box p {
  line-height: 1.0;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: black;
}

.Brands .box-container .box img{
  height: 190px;
  background-position: center;
}
/* .Brands .box-container .box:hover {
  background: #000b49;
} */

.Brands .box-container .box .footing {
  background-color: #2666cf;
  color: whitesmoke;
  height: 85px;
  
}


/* Button */

.glow-on-hover {
  width: 230px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 20px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}





                            /* Services */





.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
  background-color: white;
}

.services .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: var(--yellow);
  color: var(--black);
}

.services .box-container .box h3 {
  font-size: 2.2rem;
  color: #000000;
}

.services .box-container .box p {
  line-height: 1.8;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
}

.services .box-container .box:hover {
  background: #000b49;
}

.services .box-container .box:hover h3 {
  color: #eeeeee;
}

.services .box-container .box:hover p {
  color: #eeeeee;
}




/* Footer */




.footer {
  background: #ffe3de;
  padding-bottom: 10rem;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 4.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.55rem;
  padding: 1rem 0;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  font-size: 1.57rem;
  padding: 1rem 0;
  color: var(--light-color);
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}

.footer .box-container .box a:hover i {
  padding-right: 1.9rem;
}




/* 
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (min-device-height: 600px)
  and (max-device-height: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) { 
} */

/* ----------- Retina Screens ----------- */
/* @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
} */

/* 
@media (orientation: landscape), (min-width: 1080px){
  p {
    color: red;
    font-size: 36px;
  }
}
@media (orientation: landscape), (min-width: 1080px){
  p {
    color: red;
    font-size: 36px;
  }
} */


@media only screen and (max-width:600px) {
  
  .videowrapper
   { padding-top: 200px;
    width: auto; height: auto;
   }  
  }

  @media only screen and (max-width:900px)  {
    
    .videowrapper 
     { padding-top: 800px;
      width: auto; height: auto;
     }
}


@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  .header.active{
      padding:2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: block;
  }

  #menu-btn.fa-times{
      transform:rotate(180deg);
  }

  #login-btn .btn{
      display: none;
  }

  #login-btn i{
      display: block;
  }

  .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background: #2666cf;
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a{
      margin:2rem;
      display: block;
      font-size: 2rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 3rem;
  }

}